#container {
    position: relative;
    height:100%;
}

.rules {
	font-weight: bold;
	font-family: "Impact", "Charcoal", "sans-serif"; 
}

#points {
	font-weight: bold;
	font-family: "Impact", "Charcoal", "sans-serif"; 
}